<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head.ejs') %>

  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Main content -->
    <section class="row-alt">
      <div class="lead container">
        <h1>Attendees</h1>
        <p>
          The conference opens with amazing workshops and continues with two
          days of incredible talks and keynotes, all of which are facilitated by
          industry-leading experts. See who's coming...
        </p>
      </div>
    </section>

    <!-- Attendees -->
    
    <section class="row">
      <div class="container">
        <table class="attendees">
          <thead>
            <tr>
              <th>S/N</th>
              <th>Name</th>
              <th>Email</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Temitoyosi Osibemekun</td>
              <td>
                <a href="mailto:temitoyosi@gmail.com">temitoyosi@gmail.com</a>
              </td>
              <td>Sounds AMAZING!! Can't wait to attend!</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Temitoyosi Osibemekun</td>
              <td>
                <a href="mailto:temitoyosi@gmail.com">temitoyosi@gmail.com</a>
              </td>
              <td>Can't wait!</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Temitoyosi Osibemekun</td>
              <td>
                <a href="mailto:temitoyosi@gmail.com">temitoyosi@gmail.com</a>
              </td>
              <td>Can't wait!</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Temitoyosi Osibemekun</td>
              <td>
                <a href="mailto:temitoyosi@gmail.com">temitoyosi@gmail.com</a>
              </td>
              <td>Can't wait!</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
