<!DOCTYPE html>
<html lang="en">

  <!-- head -->
  <%- include('partials/head.ejs') %>
  <body>
    <!-- header -->
    <%- include('partials/header.ejs') %>

    <!-- Main content -->
    <section class="row-alt">
      <div class="lead container">
        <h1>Register</h1>
        <p>Every year we aim to have an unbelievable time, and this year we&#8217;d love it for you to join us. Conference passes only cost ₦500, one of the best values you&#8217;ll find.</p>

      </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
