<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head.ejs') %>

  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Main content -->
    <section class="row-alt">
      <div class="lead container">
        <h1>Schedule</h1>
        <p>
          The conference opens with amazing workshops and continues with two
          days of incredible talks and keynotes, all of which are facilitated by
          industry-leading experts.
        </p>
      </div>
    </section>

    <section class="row">
      <div class="container">
        
        <!-- Workshops -->

        <table>
          <thead>
            <tr>
              <th scope="row">Workshops</th>
              <td class="schedule-offset" colspan="2">October 24th</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <time datetime="08:30:00">8: 30 AM</time>
              </th>
              <td class="schedule-offset" colspan="2">Registeration</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="09:00:00">9: 00 AM</time>
              </th>
              <td>
                <a href="speakers#yosi">
                  <h4>Temitoyosi Osibemekun</h4>
                  Making Remote Development Work
                </a>
              </td>
              <td>
                <a href="speakers#mike">
                  <h4>Micheal Ogundero</h4>
                  Teaching our CSS to play nice
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="12:30:00">12: 30 PM</time>
              </th>
              <td class="schedule-offset" colspan="2">Lunch</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="02:00:00">2: 00 PM</time>
              </th>
              <td>
                <a href="speakers#precious">
                  <h4>Precious Michael</h4>
                  The Most Important SQL Queries for Beginners
                </a>
              </td>
              <td>
                <a href="speakers#haqq">
                  <h4>Raheem Abdulhaqq</h4>
                  Async Await in Node.js &#8212; How to Master it?
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Conference -->

        <table>
          <thead>
            <tr>
              <th scope="row">Conference</th>
              <td class="schedule-offset" colspan="2">October 25th</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <time datetime="08:30:00">8: 30 AM</time>
              </th>
              <td class="schedule-offset" colspan="2">Registeration</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="09:00:00">9: 00 AM</time>
              </th>
              <td colspan="2">
                <a href="speakers#yosi">
                  <h4>Temitoyosi Osibemekun</h4>
                  Making Remote Development Work
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="10:00:00">10: 00 AM</time>
              </th>
              <td class="schedule-offset" colspan="2">Morning Break</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="10:30:00">10: 30 AM</time>
              </th>
              <td>
                <a href="speakers#haqq">
                  <h4>Raheem Abdulhaqq</h4>
                  Async Await in Node.js &#8212; How to Master it?
                </a>
              </td>
              <td>
                <a href="speakers#precious">
                  <h4>Precious Michael</h4>
                  The Most Important SQL Queries for Beginners
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="12:30:00">12: 30 PM</time>
              </th>
              <td class="schedule-offset" colspan="2">Lunch</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="02:00:00">2: 00 PM</time>
              </th>
              <td colspan="2">
                <a href="speakers#precious">
                  <h4>Micheal Ogundero</h4>
                  Teaching our CSS to play nice
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="03:00:00">3: 00 PM</time>
              </th>
              <td class="schedule-offset" colspan="2">Afternoon Break</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="03:30:00">3: 30 PM</time>
              </th>
              <td colspan="2">
                <a href="speakers#haqq">
                  <h4>Raheem Abdulhaqq</h4>
                  Async Await in Node.js &#8212; How to Master it?
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Conference -->

        <table>
          <thead>
            <tr>
              <th scope="row">Conference</th>
              <td class="schedule-offset" colspan="2">October 26th</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
                <time datetime="08:30:00">8: 30 AM</time>
              </th>
              <td class="schedule-offset" colspan="2">Registeration</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="9:00:00">9: 00 AM</time>
              </th>
              <td>
                <a href="speakers#mike">
                  <h4>Micheal Ogundero</h4>
                  Teaching our CSS to play nice
                </a>
              </td>
              <td>
                <a href="speakers#haqq">
                  <h4>Raheem Abdulhaqq</h4>
                  Async Await in Node.js &#8212; How to Master it?
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="11:00:00">11: 00 AM</time>
              </th>
              <td class="schedule-offset" colspan="2">Morning Break</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="11:30:00">11: 30 AM</time>
              </th>
              <td colspan="2">
                <a href="speakers#precious">
                  <h4>Precious Michael</h4>
                  The Most Important SQL Queries for Beginners
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="12:30:00">12: 30 PM</time>
              </th>
              <td class="schedule-offset" colspan="2">Lunch</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="02:30:00">2: 30 PM</time>
              </th>
              <td colspan="2">
                <a href="speakers#yosi">
                  <h4>Temitoyosi Osibemekun</h4>
                  Making Remote Development Work
                </a>
              </td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="03:30:00">3: 30 PM</time>
              </th>
              <td class="schedule-offset" colspan="2">Afternoon Break</td>
            </tr>
            <tr>
              <th scope="row">
                <time datetime="04:00:00">4: 00 PM</time>
              </th>
              <td colspan="2">
                <h4>Meet & Greet</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
