<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('partials/head.ejs') %>
  <body>
    <!-- header -->
    <%- include('partials/header.ejs') %>

    <!-- Main content -->
    <section class="row-alt">
      <div class="lead container">
        <h1>Schedule</h1>
        <p>
          The conference opens with amazing workshops and continues with two
          days of incredible talks and keynotes, all of which are facilitated by
          industry-leading experts.
        </p>
      </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
