<!DOCTYPE html>
<html lang="en">

  <!-- Head -->
  <%- include('partials/head.ejs') %>

  <body>
    <!-- Header -->
     <%- include('partials/header.ejs') %>

    <!-- Main content -->

    <section class="row-alt">
      <div class="lead container">
        <h1>Venue</h1>
        <p>The conference is held at The Muson Centre, a beautiful historical landmark. The conference hotel, Eko Hotel, is a short walk away down Victoria Island.</p>
    </section>

    <section class="row">
      <div class="grid">
        <section class="venue-theatre">
    
          <div class="col-1-3">
            <h2>Muson Centre</h2>
            <p>8/9 Marina, Onikan <br> Lagos Island, Lagos</p>
            <p><a href="https://muson.org/">muson.org</a> <br> 0807 760 7481</p>
          </div><!--
        
          --><iframe class="venue-map col-2-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.153112742224!2d3.399481647529791!3d6.443781649802851!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8bd384cdf87b%3A0xc83383bffdab3596!2sMuson%20Centre!5e0!3m2!1sen!2sng!4v1664577389238!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        </section>
        
        <section class="venue-hotel">
    
          <div class="col-1-3">
            <h2>Eko Hotels & Suites</h2>
            <p>Plot 1415 Adetokunbo Ademola Street <br> Victoria Island 106104, Lagos</p>
            <p><a href="https://www.ekohotels.com/">ekohotels.com</a> <br> 01 277 2700</p>
          </div><!--
          --><iframe class="venue-map col-2-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.7466410171046!2d3.427924514403259!3d6.426588126066239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf53aec4dd92d%3A0x5e34fe6a84cddd53!2sEko%20Hotels%20%26%20Suites!5e0!3m2!1sen!2sng!4v1664577569217!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
        </section>
      </div>
    </section>
    
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
